<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Middleman" %></title>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
    <%= link_to '> cd ~/', '/' unless current_page.url == '/' %>
    <%= yield %>
    <div id='footer'>
      Latest commit history for this page...
      <ul class='git_commits'>
        <% client = Octokit::Client.new %>
        <% client.commits('dekaikiwi/blog_middleman_template', nil, path: Pathname.new(current_page.source_file).relative_path_from(config[:root_dir])).each do |item| %>
        <li>
          <a href="<%= item.url %>"><%= item.sha[0..7] %></a>
          <%= item.commit.author.name %> - <%= item.commit.message %> (<%= item.commit.author.date %>)
        </li>
        <% end %>
      </ul>
    </div>
  </body>
</html>
