<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Middleman" %></title>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
    <%= link_to '> cd ~/', '/' unless current_page.url == '/' %>
    <%= yield %>
    <div id='footer'>
      Latest commit history for this page...
      <ul class='git_commits'>
        <% g = Git.open(config[:root_dir]) %>
        <% g.gblob(current_page.source_file).log.to_a.first(5).each do |log| %>
          <li>
            <% gh_url = "https://github.com/dekaikiwi/blog_middleman_template/commit/#{log.sha}" %>
            <%= "#{log.date.strftime("%Y-%m-%d %H:%M:%S")} [#{link_to log.sha[0..6], gh_url}] #{log.message} (#{log.committer.name})" %>
          </li>
        <% end %>
      </ul>
    </div>
  </body>
</html>
